<div id="ciCard_<%= cid %>" class="ui fluid card">
<% if(imgs != "") { %>
  <% if(imgs.length == 1) { %>
  <div class="ui image">
    <img src="<%= imgurl %><%= imgs[0] %>">
  </div>
  <% } else { %>
  <div class="ui equal width grid" style="margin: 0px;">
    <% for( i =0; i < imgs.length/2; i++ ) { %>
    <div class="row">
      <% for( j = i*2; j < imgs.length && j < i*2 + 2; j++ ){ %>
      <div class="ui column small rounded image upload-img">
        <img class="rounded" src="<%= imgurl %><%= imgs[j] %>">
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
<% } %>
  <div class="content">
    <div class="header"><%= user_name %></div>
    <div class="description">
      <p><%= content %></p>
    </div>
    <div class="meta">
      <%= date %>
      <% if(mode == "user") { %>
      <!--
        <% if(public != true) { %>
      <a id="mkPub_<%= cid %>" class="right floated created" onclick="makeCIPublic('<%= cid %>')">公开</a>
        <% } else { %>
      <a id="mkPriv_<%= cid %>"class="right floated created" onclick="makeCIPrivate('<%= cid %>')">仅自己可见</a>
        <% } %>
      -->
      <a class="right floated created" onclick="deleteCI('<%= cid %>')">删除</a>
      <a class="right floated created" href="../checkin/checkin.html?mode=edit&cid=<%= cid %>">编辑</a>
      <% } else { %>
      <span class="right floated" onclick="editComment('<%= cid %>')">
          <i class="comments outline icon"></i>
          评论
      </span>
      <span class="right floated" onclick="likeCI('<%= cid %>')">
          <i class="active like icon"></i>
      </span>
      <span class="right floated" onclick="thumbCI('<%= cid %>')">
          <i class="like thumbs up icon"></i>
          3
      </span>
      <% } %>
    </div>
  </div>
</div>