<div id="ciCard_<%= cid %>" class="ui fluid card">
<% if(imgs != "") { %>
  <% if(imgs.length == 1) { %>
  <div class="ui image">
    <img src="<%= imgurl %><%= imgs[0] %>">
  </div>
  <% } else { %>
  <div class="ui equal width grid" style="margin: 0px;">
    <% for( i =0; i < imgs.length/2; i++ ) { %>
    <div class="row">
      <% for( j = i*2; j < imgs.length && j < i*2 + 2; j++ ){ %>
      <div class="ui column small rounded image upload-img">
        <img class="rounded" src="<%= imgurl %><%= imgs[j] %>">
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
<% } %>
  <div class="content">
    <% if(mode != "user") { %>
    <div class="header">
      <% if( /^(http|ftp).*/.test(user_avatar) ) { %>
      <img class="ui avatar image" src="<%= user_avatar %>">
      <% } else { %>
      <img class="ui avatar image" src="<%= imgurl %><%= user_avatar %>">
      <% } %>
      <a><%= user_name %></a>
    </div>
    <% } %>
    <div class="description">
      <p><%= content %></p>
    </div>
    <div class="meta">
      <%= date %>
      <% if(mode == "user") { %>
      <!--
      -->
      <a id="public_<%= cid %>"class="right floated created" onclick="togglePublic('<%= cid %>')">
          <% if(public) { %>
          <span id="public_msg_<%= cid %>">
              <i class="share alternate icon"></i>已公开</span>
          <span id="private_msg_<%= cid %>" class="hide">
              <i class="share alternate icon"></i>未公开</span>
          <% } else { %>
          <span id="public_msg_<%= cid %>" class="hide">
              <i class="share alternate icon"></i>已公开</span>
          <span id="private_msg_<%= cid %>">
              <i class="share alternate icon"></i>未公开</span>
          <% } %>
      </a>
      <a class="right floated created" onclick="deleteCI('<%= cid %>')">
          <i class="home remove circle outline icon"></i>
          删除
      </a>
      <a class="right floated created" href="../checkin/checkin.html?mode=edit&cid=<%= cid %>">
          <i class="home edit icon"></i>
          编辑
      </a>
      <% } else { %>
      <span class="right floated" onclick="editComment('<%= cid %>')">
          <i class="comments outline icon"></i>
          评论
      </span>
      <span class="right floated" onclick="toggleFavor('<%= cid %>')">
          <i id="favor_<%= cid %>" class="<% if( favored) { %>active <% } %>like icon"></i>
          <span id="favor_count_<%= cid %>"><%= favor_count %></span>&nbsp收藏
      </span>
      <span class="right floated" onclick="toggleThumb('<%= cid %>')">
          <i id="thumb_<%= cid %>" class="<% if( thumbed) { %>active <% } %>like thumbs up icon"></i>
          <span id="thumb_count_<%= cid %>"><%= thumb_count %></span>&nbsp
      </span>
      <% } %>
    </div>
  </div>
</div>