<div class="ui fluid card">
    <div class="content">
        <div class="description">
            <p><%= content %></p>
        </div>
        <div class="meta">
            <%= date %>
        </div>
    </div>
</div>