<div class="ui fluid card">
    <% if(img != "") { %>
    <div class="ui image">
        <img src="<%= imgurl %><%= img %>">
    </div>
    <% } %>
    <div class="content">
        <div class="description">
            <p><%= content %></p>
        </div>
        <div class="meta">
            <%= date %>
        </div>
    </div>
</div>