<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
        <title>用户中心</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" ></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.9.0/lodash.min.js"></script>
        <script type="application/javascript" src="//cdn.bootcss.com/js-cookie/2.1.0/js.cookie.js"></script>
        <script type="application/javascript" src="../static/jwt-decode.min.js"></script>
        <script type="application/javascript" src="../auth/auth.js"></script>
        <script type="application/javascript">
            $(document).ready(function(){
                $('#checkin_status').hide();
                $('#checkin').show();
                $.ajax({
                    url: 'http://127.0.0.1:8089/v1/user/info',
                    dataType: 'json',
                    //type: 'POST',
                    data: {
                        auth_token: Cookies.get('auth_token')
                    },
                    success: function(res) {
                        console.log(res);
                        user = res.user_info;
                        Cookies.set('user_info', user);
                        date = new Date();
                        $('#username').text(user.username);
                        if(user['last_checkin']){
                            if(user.last_checkin.create_year == date.getFullYear() &&
                                user.last_checkin.create_month == date.getMonth() + 1 &&
                                user.last_checkin.create_day == date.getDate()){
                                // already checkin today
                                $('#checkin').hide();
                                $('#checkin_status').show();
                                $('#checkin_days').text(user.continuous);
                            }
                        } else {
                            // not yet checkin tody
                            //$('#checkin_status').hide();
                            $('#checkin').show();
                        }
                    }
                })
                $('#checkin').click(function() {
                    //user_info = Cookies.getJSON('user_info');
                    //$('#checkin_days').text(user_info.continuous);
                    window.location.href = '../checkin/checkin.html';
                });
                $('#checkin_status').click(function() {
                    window.location.href = '../checkin/index.html';
                });
            });
        </script>
    </head>
    <body>
        <br/>
        <div id="container" class="ui center aligned container">
        </div>
        <div class="ui center aligned basic segment">
            <div class="ui tiny centered circular image tidy-avatar">
                <img src="../logo/logo-128x128.png">
                <div class="ui tidy-edit-avatar">
                    <i class="large grey photo link icon"></i>
                </div>
            </div>
            <br/>
            <br/>
            <div class="ui center aligned container">
                <p> Hi, <b id="username"></b></p>
            </div>
            <br/>
            <div class="ui center aligned container">
                <div id="checkin" class="ui basic button">
                    <i class="icon edit"></i>
                    立即签到
                </div>
                <div id="checkin_status" class="ui basic button">
                    <i class="checkmark box icon"></i>
                    您已经连续签到<span id="checkin_days"></span>天
                </div>
            </div>
        </div>
        <div id="menu" class="ui small bottom fixed inverted four item labeled icon menu">
           <a class="green item">
                <i class="star icon"></i>
                收藏
           </a>
            <a class="red item">
                <i class="mail icon"></i>
                消息
           </a>
           <a class="teal item">
                <i class="lab icon"></i>
                实验室
           </a>
           <a class="green item">
                <i class="settings icon"></i>
                设置
           </a>
        </div>
        <br/>
    </body>
    <style>
        .tidy-avatar {
            position:relative
        }
        .tidy-edit-avatar {
            position:absolute;
            right:-5px;
            bottom:-1px
        }
    </style>
</html>
