<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
        <title>签到</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script type="application/javascript" src="../static/jwt-decode.min.js"></script>
        <script type="application/javascript" src="//cdn.bootcss.com/js-cookie/2.1.0/js.cookie.js"></script>
        <script type="application/javascript" src="../auth/auth.js"></script>
        <script type="application/javascript">
            $(document).ready(function(){
                $('.ui.message').hide();
                $('#file').hide();
                //$('#imgdiv').hide();
                var imgs = new Array();
                var imgcnt = 0;
                Cookies.set('imgs', '');
                Cookies.set('imgurl_prefix', 'http://127.0.0.1:8089/v1/static/images/');
                $('#checkin').click(function() {
                    $('#chkcnt').attr('readonly', 'readonly');
                    $('#checking').removeClass('inactive').addClass('active');
                    var content = $('#chkcnt').val();
                    console.log(content);
                    //doing upload data
                    $.ajax({
                        url: 'http://127.0.0.1:8089/v1/checkin',
                        dataType: 'json',
                        type: 'POST',
                        data: {
                            auth_token: Cookies.get('auth_token'),
                            content: content,
                            img: Cookies.get('img')
                        },
                        success: function (res) {
                            console.log(res);
                            window.location.href = '../user/index.html';
                            $('.ui.success.message').show();
                        },
                        error: function (res) {
                            console.log(res);
                            $('.ui.error.message').show();
                            setTimeout(function(){
                                $('.ui.error.message').hide();
                            }, 3000)
                            //window.location.href = '../user/index.html';
                        }
                    });
                    $('#checking').addClass('inactive').removeClass('active');
                    $('#chkcnt').removeAttr('readonly');
                });
                $('#upload').click(function () {
                    $('#file').click();
                    //$("form").submit();
                    //console.log('');
                });
                $('#file').change(function (evt) {
                    //evt.preventDefault();
                    console.log('file select clicked');
                    $("form").submit();
                    //setInterval( function () { } , 1000 );
                });
                $("form").submit(function(evt){
                    evt.preventDefault();
                    var formData = new FormData($(this)[0]);
                    var tmpl =  '<div id="<%= divid %>" class="ui small rounded image upload-img">' +
                                  '<img id="<%= imgid %>" class="rounded" src="<%= imgurl %>">' +
                                  '<div class="ui upload-img-del">' +
                                    '<i class="large grey remove circle link icon"></i>' +'
                                  '</div>' +
                                '</div>';
                    var _tmpl = _.template(tmpl);
                    console.log(formData);
                    $.ajax({
                        url: 'http://127.0.0.1:8089/v1/user/uploadimg',
                        type: 'POST',
                        data: formData,
                        //async: false,
                        cache: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        processData: false,
                        success: function (res) {
                            imgs[imgcnt] = {
                                'guid': res.guid,
                                'ext': res.ext
                            };
                            imgcnt ++ ;
                            //Cookies.set('imgs', res);
                            console.log('upload success: ' + res);
                            $('#imgdiv').show();
                            $('#img').attr('src', Cookies.get('imgurl_prefix') +
                                    res.guid + '.' + res.ext);
                        }
                    });
                    return false;
                });
            });
        </script>
      </head>
      <body>
          <div id="ciform" class="ui form">
              <div class="field">
                  <label><h3>签到内容</h3></label>
                  <textarea id="chkcnt" placeholder="点此输入签到内容"></textarea>
              </div>
          </div>
          <!--<div id="label">
              <a class="ui red tag label">红标签<i class="delete icon"></i></a>
              <a class="ui green tag label">绿标签<i class="delete icon"></i></a>
              <a class="ui yellow tag label">黄标签<i class="delete icon"></i></a>
          </div>
          <div class="ui right labeled left icon input">
              <i class="tags icon"></i>
              <input type="text" placeholder="输入标签">
              <a class="ui tag label">添加标签</a>
          </div>
          <br/>-->
          <div class="ui center aligned container">
              <div id="upload" class="ui basic button">
                  <i class="icon photo"></i>
                  上图
              </div>
              <div id="checkin" class="ui basic button">
                  <i class="icon edit"></i>
                  签到
              </div>
              <div id="checking" class="ui inactive inverted dimmer">
                  <div class="ui medium text loader">签到中</div>
              </div>
              <div class="ui success message">
                  <div class="content">
                      <div class="header">签到成功!马上跳转到个人首页!</div>
                      <!-- <p>内容描述</p> -->
                  </div>
              </div>
              <div class="ui error message">
                  <div class="content">
                      <div class="header">签到失败!请重试!</div>
                      <!-- <p>内容描述</p> -->
                  </div>
              </div>
          </div>
          <form>
              <input id="file" type="file" name="file" />
          </form>
          <br/>
      </body>
      <style>
          .ui.form {
              margin: 10px;
          }
          .ui.input{
              margin: 10px;
          }
          #label{
              margin-left: 10px;
          }
          .upload-img {
              position:relative
          }
          .upload-img-del {
              position:absolute;
              right:-5px;
              bottom:-1px
          }
      </style>
</html>
