<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" ></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.9.0/lodash.min.js"></script>
        <script type="application/javascript">
            $(document).ready(function(){
                //req = { id: "1" }
                //$.get('http://localhost:8089/v1/checkin', req, function(data) {
                //    //$('#dictionary').html(data);
                //    console.log(data)
                //});
                $.ajax({
                    url: 'http://127.0.0.1:8089/v1/checkin',
                    dataType: 'jsonp',
                    //type: 'POST',
                    data: {
                        uid: '1'
                    },
                    success: function(res) {
                        //console.log(res.data);
                        var tmpl = _.template('<div class="ui fluid card"><div class="content"><div class="description"><p><%= content %></p></div><div class="meta"><%= date %></div></div></div>');
                        var sorted = _.sortBy(res.data, ['timestamp'])
                        console.log(sorted)
                        for(var i = sorted.length - 1; i >= 0; i --) {
                            var c = sorted[i]
                            if(c.create_hour < 10){
                                c.create_hour = '0' + c.create_hour
                            }
                            if(c.create_min < 10){
                                c.create_min = '0' + c.create_min
                            }
                            if(c.create_Sec < 10){
                                c.create_Sec = '0' + c.create_Sec
                            }
                            var date = c.create_year + '年' + c.create_month + '月' + c.create_day + '日' + ' ' + c.create_hour + ":" + c.create_min + ":" + c.create_sec;
                            var html = tmpl({'content': c.content, 'date': date})
                            //console.log(html)
                            $('#container').append($(html));
                        }
                    }
                });
            });
        </script>
    </head>
    <body>
        <br/>
        <div id="container" class="ui container">
        </div>
        <br/>
    </body>
</html>
